@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.container {
  display: grid;
  gap: 30px;
  width: 100%;
  min-width: 400px;
  padding: 30px 20px;
  background-color: colors.$WHITE;
  border-radius: 20px;
  box-shadow: colors.$BOX_SHADOW 0 8px 24px;

  .column {
    @include flexbox.flexbox(center, center);
    line-height: 30px;

    .dropDown {
      display: flex;
      align-items: center;
      padding: 3px 14px;
      border: 1px solid rgba(colors.$BORDER_COLOR, 0.8);
      border-radius: 8px;
    }

    input {
      padding: 3px 14px;
      margin: 0 10px;
      line-height: 30px;
      border: 1px solid rgba(colors.$BORDER_COLOR, 0.8);
      border-radius: 8px;
    }

    @include responsive.after(SD) {
      @include flexbox.flexbox(start, center);
      grid-template-rows: 40px 40px 40px;
    }
  }

  .secondColumn {
    display: grid;
    grid-template-rows: 100px 50px;
    gap: 20px;

    @include responsive.after(LD) {
      grid-template-rows: 40px;
      grid-template-columns: 1fr 1fr;
    }
  }

  .formButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    button {
      margin-left: 0;

      + button {
        margin-left: 16px;
      }
    }

    @include responsive.after(SD) {
      justify-content: flex-end;
    }
  }
}
