@use '/src/styles/constants/colors';

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  padding: 30px 20px;
  background-color: colors.$WHITE;
  border-radius: 20px;
  box-shadow: colors.$BOX_SHADOW 0 8px 24px;

  // div {
  //   margin-top: 10px;
  //   margin-bottom: 20px;
  // }

  // input {
  //   height: 30px;
  //   padding: 0 10px;
  //   margin: 0 10px;
  //   border: 1px solid black;
  // }

  label {
    margin-left: 30px;
  }
}

.userInfoInputsContainer {
  display: flex;
  align-items: center;

  .dropDown {
    height: 30px;
    margin: 0;
    border: 1px solid black;
  }
}

.dateRangeInputContainer {
  display: flex;
}

.formButtonsContainer {
  display: flex;
  margin-right: 20px;
  margin-left: auto;
}
