@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.container {
  width: 100%;
  height: 100%;
  color: colors.$MAIN_TEXT_COLOR;

  h2 {
    width: 100vw;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
  }

  .userManageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

tr {
  border: 1px solid black;
}

th {
  border: 1px solid black;
}
